.controls-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 20px;
    height: 89vh;
}

.flight-telemetry {
    min-width: 25%;
    min-height: 90%;
    border: 1px solid black;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: var(--light-bg);
}