nav {
    background-color: var(--med-bg);
    font-size: 2rem;
}

img {
    margin: 0 0.5rem;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: flex-start;
}

li {
    padding: 0.5rem 1rem;
}

a {
    text-decoration: none;
    color: var(--highlight);
}

a:is(:hover, :focus), a.active {
    color: var(--dark-text);
}

li:has(a:is(:hover, :focus)), li:has(a.active) {
    background-color: var(--light-bg);
}