nav.topbar {
    background-color: var(--dark-bg);
    font-size: 2rem;
}

nav.topbar img {
    margin: 0 0.5rem;
}

nav.topbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    justify-content: flex-start;
}

nav.topbar li {
    padding: 0.5rem 1rem;
    transition: background-color 0.1s ease-in;
}

nav.topbar a {
    text-decoration: none;
    color: var(--highlight);
    transition: color 0.1s ease-in;
}

nav.topbar a:is(:hover, :focus), a.active {
    color: var(--light-text);
}

nav.topbar li:has(a:is(:hover, :focus)), li:has(a.active) {
    background-color: var(--med-bg);
}