main.obc-page {
    flex: 1; /* Take up remainder of screen beyond navbar */

    display: flex;
    flex-direction: row;
}    

/* list of all the status icons on the right side */
main.obc-page ul.status-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Position the camera config form within the center of the screen when the modal opens */
.obc-camera-form-modal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    outline: 0;
}
