.flex-container {
  display: flex;
  flex-flow: row wrap;
  overflow-y: auto;
  justify-content: space-around;
  max-height: 150px;
  max-width: 400px;
  gap: 10px;
}

.flex-item {
  border: 2px solid #fcb355;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.flex-item.highlight {
  background-color: #fcb355;
}
