@font-face {
  font-family: 'Jetbrains Mono';
  font-display: swap;
  src: url("../assets/JetBrainsMono-Regular.ttf");
}

.s-s {
    background-color: black;
    user-select: none;
    -webkit-user-select: none;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    color: white;

}

.s-s .clickable{
    transition: transform 500ms;

    display: inline-block;
    cursor: pointer;
}

.s-s .clickable:hover {
    transform: translateY(-5px);
}

@keyframes hover {
    from {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(15px);
    }
    to {
        transform: translateY(0px);
    }
}


.s-s .title {
    animation-name: hover;
    animation-duration: 5s;
    animation-iteration-count: infinite;

    font-family: 'Jetbrains Mono' !important;
    font-size: 40pt;
}

.s-s .info-bar {
    font-size: 12pt;
    text-align: center;
    font-family: 'Jetbrains Mono' !important;
}

.s-s .info-bar .count {
    font-size: 40pt;
    font-family: 'Jetbrains Mono' !important;
}

.s-s .inventory {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Jetbrains Mono' !important;
}

.s-s .inventory-item {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Jetbrains Mono' !important;
}

@keyframes silly {
    from {
        top: 0;
    } 
    to {
        top: 100%;
    }
}

.s-s .silly-icon {
    position: absolute;
    animation-name: silly;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.s-s .description {
    font-family: 'Jetbrains Mono' !important;
}