.container {
    background-color: white;
    width: 1em;
    height: fit-content;
    border: .1em solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1em;
}

.container > * {
    margin-right: 0.5em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

legend {
    text-align: center;
    background-color: black;
    border-radius: 10px;
    color: white;
    padding: 0em 0.5em;
}

/* temp */
.map {
    background-color: black;
    width: 225px;
    height: 225px;
}

img {
    width: 10em;
    height: 10em;
}