::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

html, body {
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#title-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

*[data-active="false"] {
    display: none !important;
}

#title-section ol {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h1#title-text, input[type="button"] {
    background: none;
    margin-bottom: 4rem;
    margin-top: 4rem;
    border: none;
    font-size: 32pt;

    animation-name: hover;
    animation-timing-function: ease-in-out;
    animation-duration: 6s;
    animation-iteration-count: infinite;

    text-shadow: pink 0 4px 4px;
}

input[type="button"] {
    height: fit-content;
    color: black;
    font-size: 24pt;
}

input[type="button"]:hover {
    background-color: white;
    box-shadow: 0 0.5em 0.5em -0.4em pink;
}

@keyframes hover {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

#title-plane {
    position: absolute;
    margin-top: 4rem;
    animation-name: left-to-right-hover;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes left-to-right-hover {
    from {
        right: 0;
        top: 50%;
    }

    50% {
        top: 40%;
    }

    to {
        right: 100%;
        top: 50%;
    }
}

/* Gameplay */

* {
    --right-deg: 180deg;
    --left-deg: 0deg;
    --up-deg: 50deg;
    --down-deg: -50deg;
}

#game-section {
    height: 10000px;
    width: 10000px;
}

#game-plane {
    position:absolute;
    transform-origin: center;
    transition: 0.5s transform;
}

#game-plane[data-dir="left"] {
    transform: rotateY(var(--left-deg));
}

#game-plane[data-dir="right"] {
    transform: rotateY(var(--right-deg));
}

#game-plane[data-tilt="up"] {
    transform: rotateZ(var(--up-deg));
}

#game-plane[data-tilt="down"] {
    transform: rotateZ(var(--down-deg));
}

#game-plane[data-dir="left"][data-tilt="up"] {
    transform: rotateY(var(--left-deg)) rotateZ(var(--up-deg));
}
#game-plane[data-dir="left"][data-tilt="down"] {
    transform: rotateY(var(--left-deg)) rotateZ(var(--down-deg));
}

#game-plane[data-dir="right"][data-tilt="up"] {
    transform: rotateY(var(--right-deg)) rotateZ(var(--up-deg));
}
#game-plane[data-dir="right"][data-tilt="down"] {
    transform: rotateY(var(--right-deg)) rotateZ(var(--down-deg));
}

img.explosion {
    position: absolute;
}