/* 
    CSS Reset from 
    https://medium.com/codex/progressive-enhancement-part-3-getting-a-solid-baseline-before-layout-d6dfd1c87ae5 
*/

html,body,div,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,form,fieldset,caption,table,tr,td,th,address,blockquote,img {
    margin:0;
    padding:0;
}

img, fieldset, object {
    border:none;
}

*, *:after, *:before {
    flex:1 0 auto; /* safari bugfix */
    box-sizing:border-box;
}

button, label {
    cursor:pointer;
}

html, body {
    min-height:100%;
}

/*
    Actual CSS
*/

@font-face {
    font-family: 'Fira-Sans';
    font-display: swap;
    src: url('../fonts/FiraSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Comic-Sans';
    font-display: swap;
    src: url('../fonts/ComicSansMS3.ttf') format('truetype');
}

body {
    font-size: 1.5rem;
    font-family: 'Fira-Sans', sans-serif;
    background-image: url("../images/cloud-bg2.jpg");
    animation: cloudScroll 200s linear infinite;
}

body[data-lol="true"] {
    background-image: url("../images/LOL.gif");
    font-family: 'Comic-Sans', sans-serif;
}

@keyframes cloudScroll {
    0% {
        background-position: bottom left;
    }
     
    50% {
        background-position: top right;
    }

    100% {
        background-position: bottom left;
    }
}

h1 {
    font-size: 4rem;
    border-bottom: black solid 3px;
    text-align: center;
    background-color: lightskyblue;
}

dialog {
    background-color: white;
    border: 4px solid lightskyblue;
    border-radius: 10px;
    font-weight:bold;
}

dialog.waitDialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

dialog.error {
    background-color: lightcoral;
    border-color: black;

}

dialog.cursed {
    background-color: black;
    border-color: black;
    color: yellow;
}

dialog.cursed button {
    color: white;
    background-color: black;
    border-color: white;
}

dialog button {
    display: inline-block;
    margin: auto;
}

/* for use in wait dialog */

.wait-icon {
   -animation-name: waitSpin;
   -animation-duration: 1.75s;
   -animation-iteration-count: infinite;
   -animation-duration: alternate;
   display: block;
   text-align: center;
}

/* I randomly did these values, but this actually seems like it would fit a loading image pretty well */
@keyframes waitSpin {
   from {
      transform: rotate(0turn);
   }

   to {
      transform: rotate(1turn);
   }
}

form {
    margin: 1rem;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 1rem;
    width: 50%;
    padding: 1rem 2rem;
}

fieldset {
    border: .2rem black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 min-content;
    border-radius: 8px;
    background-color: white;

    transition: 0.3s;
}

legend {
    background-color: black;
    color: white;
    padding: .2rem .4rem;
    border-radius: 8px;

    transition: 0.5s;
}

label {
    display: block;
    text-align: center;
    margin: .4rem;
}

input, select {
    background-color: lightblue;
    border: 0px;
    height: 2rem;
    text-align: center;
    font-size: 1.5rem;
    color: darkblue;
    width: 60%;
    border-radius: 8px;
}

input[type="button"], input[type="submit"] {
    border-radius: 0px;
    width: fit-content;
}

button, grow-btn, input[type="button"], input[type="submit"] {
    display: block;
    background-color: darkblue;
    color: white;
    margin: .8rem;
    padding: .2rem .4rem;
    border: .1rem black solid;
    font-size: 1.5rem;
    border-radius: 1em;
    top: 0px;
    transition: all .3s;
}

grow-btn {
    width: fit-content;
    margin-left: 30%;
    margin-right: 30%;
}

button[data-active="true"], input[data-active="true"] {
    transition: all .1s;
}

button:hover, grow-btn:hover, input[type="button"]:hover, input[type="submit"]:hover,
button[data-active="true"], input[data-active="true"] {
    box-shadow: 0 0.5em 0.5em -0.4em darkblue;
    transform: translateY(-0.25em);

    background-color: blue;
}

dialog form{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

dialog form button {
    margin: 1rem;
    padding: 0.5rem;
}

extendo-form {
    transition: 1.5s all;
    min-width: 20rem;
    margin-top: 1em;
}

extendo-form form {
    display: inline;
    padding: 0;
    margin: 0;
}

.tuple {
    display: flex;
    flex-direction: row;
}

.tuple input, .tupleinput {
    width: 8em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    font-size: 1em;
}

.counter, .alphanumeric {
    width: 2em !important;
    font-size: 1em !important;
    margin: .8rem !important;
    padding: .2rem .4rem !important;
}