main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

image-gallery {
    text-align: center;
    padding: 1em;
    margin: 1em;
    display: block;
    float:right;
    border: 1px solid black;
    background-color: lightgray;
    border-radius: 10px;
    width: fit-content;
}

image-gallery img {
    background-color: white;
}

div#form-container {
    display: flex;
    flex-direction: row;
}

form {
    width: 40dvw;
}

form#camera-form fieldset {
    padding-bottom: 1em;
    margin-bottom: 1em;
}

div#camera-status-container {
    background-color: white;
    border: 1px solid black;
    margin-top: 1em;
    padding: .75em;
}

div#gallery-container {
    display: flex;
    flex-direction: row;
}

div#camera-status-container {
    height: fit-content;
    align-self: center;
}