output {
    display: inline-block;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    color: white;
    animation: none;
    transform: scale(1);
}

output[data-null="true"]  {
    color: red;
}

output[data-changed="true"], output[data-changed="true"] hr {
    animation-name: changePulse;
    animation-duration: 0.9s;
    animation-iteration-count: 1;
}

img {
    animation-name: spin;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    } 

    to {
        transform: rotate(360deg);
    }
}

@keyframes changePulse {
    0% {
		transform: scale(1);
        color: white;
        border-color: white;
	}

	50% {
		transform: scale(1.05);
        color: gold;
        border-color: gold;
	}

	100% {
		transform: scale(1);
        color: white;
        border-color: white;
	}
}

hr {
    border: 1px solid white;
}

output[data-null="true"] hr {
    border-color: red;
}